.logo {
  height: 40px;
  width: 50px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  position: fixed;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-table-cell-row-hover {
  background-color: #e6f7ff !important;
}

.collapsed-sider .ant-menu-item {
  background-color: #871400 !important;
}

.collapsed-sider .ant-menu-item-selected {
  border-radius: 10px !important;
  background-color: #f6a89ba0 !important;
  color: #fff !important;
}

.sider .ant-menu-item {
  background-color: #871400 !important;
}

.sider .ant-menu-item-selected {
  border-radius: 10px !important;
  background-color: #f6a89ba0 !important;
  color: #fff !important;
}

.horizontal-menu .ant-menu-item {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  margin-right: 15px !important;
}

.horizontal-menu .ant-menu-item:hover {
  color: #610b00 !important;
}

.horizontal-menu .ant-menu-item::after {
  border-bottom: unset !important;
}

.horizontal-menu .ant-menu-item-selected {
  border-radius: 10px !important;
  background-color: #871400 !important;
  color: #fff !important;
  padding: 0;
  /* height: 50px !important; */
}

.ant-segmented-item-selected {
  background-color: #871400 !important;
  color: #fff;
  border-radius: 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.ant-segmented {
  border-radius: 10px !important;
  margin-right: 50px;
}

.ant-segmented-item {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 10px !important;
}

input {
  border-radius: 10px !important;
}

.ant-select-selector {
  border-radius: 10px !important;
}

.ant-select-open {
  border-radius: 10px !important;
}

.ant-input-number {
  border-radius: 10px !important;
}

.ant-picker {
  border-radius: 10px !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #871400;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d4380d;
}
