.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-table-cell-row-hover {
  background-color: #e6f7ff !important;
}

.collapsed-sider .ant-menu-item {
  background-color: #871400 !important;
}

.collapsed-sider .ant-menu-item-selected {
  border-radius: 5px !important;
  background-color: #f6a89ba0 !important;
  color: #fff !important;
}

.sider .ant-menu-item {
  background-color: #871400 !important;
}

.sider .ant-menu-item-selected {
  border-radius: 5px !important;
  background-color: #f6a89ba0 !important;
  color: #fff !important;
}
